body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    /*background-color: rgba(32,33,36,1);*/
}

/*-------------------navegacion---------------*/

header{
    width: 100%;
    height: 65px;
}
header nav{
    display: flex;
    justify-content: flex-end;
}
header nav .nav-right-section{
    list-style: none;
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}
nav .nav-right-section a{
    text-decoration: none;
    color: black;
}
nav .nav-right-section .menu{
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 20px;
    height: 24px;
    background-size: contain; /*le decimos a la imagen que debe estar contenida solo en el espacion dado*/
    background-repeat: no-repeat;
}
nav .nav-right-section .menu:hover{
    background-color: #dfe1e5;
    border-radius: 100px;
}
nav .nav-right-section img{
    margin-right: 20px;
    border-radius: 100px;
    width: 33px;
}

/*------------------------------MAIN-----------------------------*/

main{
    margin-top: 125px;
    text-align: center;
}
main .main-logo{
    width: 500px;
    /*en margin si colocamos solo un valor sera para todos los lados*/
    /*si ponemos dos valores el primero sera el valor vertical y el segundo horizontal*/
    margin: 0 auto;
    margin-bottom: 20px;

}
main .main-logo img{
    height: 90px;
} 

/*-------------------------------------------INPUT SECTION------------------------------------------*/

main .main-input{
    width: 500px;
    margin: 0 auto ;
}
main .main-input-container{
    width: 500px;
    border: 1px solid #dfe1e5;
    border-radius: 15px;

}
main .main-input input{
    height: 45px;
    border: none;
    outline: none;
    width: 400px;
}
main .main-input .search-icon{
    /*background-image: url(https://seekicon.com/free-icon-download/search_20.svg);*/
    background-position: contain;
    background-position: center;
    padding-left: 2px;
    padding-top: 5px;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    margin-right: 2px;
    margin-left: 10px;
    margin-top: 10px;
}
main .main-input .micro-icon{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/1200px-Google_mic.svg.png);
    width: 25px;
    height: 25px;
    background-size: contain;
    background-position: center;
    padding-left: 10px;
    background-repeat: no-repeat;
    margin-right: 15px;
}
main .main-input .cam-icon{
    background-image: url(https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg);
    width: 25px;
    height: 25px;
    background-size: contain;
    background-position: center;
    padding-left: 6%;
    background-repeat: no-repeat;
    margin-right: 35px;
}
main .main-input-container:hover{
    box-shadow: 0 1px 4px #a7afbd;
    border-color: #dfe1e500;

}

/*---------------------------------------------MAIN BUTTONS--------------------------------------------*/


main .main-buttons{
    width: 530px;
    margin: 0 auto;

}
main .main-buttons div{
    display:inline;
}
main .main-buttons button{
    margin-top: 30px;
    border: none;
    height: 40px;
    background-color: #f8f9fa;
    color: #3c4043;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 14px;
    margin-right: 10px;
}
main .main-buttons button:hover{
    color:#202124 ;
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,.1);
    
}

/*------------------------------------------------------------PIE DE PÁGINA------------------------------------*/

.footer {
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100%;
    /*padding: 10px 0*/;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
}

.footer-top {
    text-align: left;
    padding: 0 15px;
    border-bottom: 1px solid #e4e4e4;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    flex-wrap: wrap;
}

.footer-bottom ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
}

.footer-bottom ul li {
    margin-right: 15px;
}

.footer-bottom ul li a {
    text-decoration: none;
    color: #5f6368;
}

.footer-bottom ul li a:hover {
    text-decoration: underline;
}

.footer-right {
    display: flex;
}
@media (max-width: 480px) {
    .footer-bottom ul {
        flex-direction: column;
        align-items: center;
    }

    .footer-bottom ul li {
        margin: 5px 0;
    }

}






